
/*
 * Copyright © 2025 Medkhair.
 * This software and its source code are owned by Medkhair.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 */


/***** General CSS *****/

    @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

    @font-face {
        font-family: "Clash Display Variable";
        src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot");
        src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.svg#Clash Display Variable")format("svg");
    }
    :root {
        --Medkhair-color-primary: #0A192F;
        --Medkhair-color-secondary: #64FFDA;
        --Medkhair-color-tercairy: #0B1E34;
        --Medkhair-color-quaternary: #fff;
    }
    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body {
        margin: 0;
        font-family: "Sora", sans-serif;
        background-color: var(--Medkhair-color-primary);
        color: #fff;
        line-height: 1.1;
    }

    .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .inner > * {
        flex: 1;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Clash Display Variable", sans-serif;
        font-weight: 700;
    }
    a{
        color: inherit;
        text-decoration: none;
    }

    .button {
        color: var(--Medkhair-color-primary);
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.4s ease;
        font-weight: 600;
    }
    .button.primary{
        background-color: var(--Medkhair-color-secondary);
        color: var(--Medkhair-color-primary);
        border: 2px solid var(--Medkhair-color-secondary);
    }
    .button.secondary{
        background-color: transparent;
        color: var(--Medkhair-color-secondary);
        border: 2px solid var(--Medkhair-color-secondary);
    }
    .button.primary:hover {
        background-color: var(--Medkhair-color-primary);
        color: var(--Medkhair-color-secondary);
        border: 2px solid var(--Medkhair-color-secondary);
    }
    .button.secondary:hover {
        background-color: var(--Medkhair-color-secondary);
        color: var(--Medkhair-color-primary);
        border: 2px solid var(--Medkhair-color-secondary);
    }

    @media (max-width: 768px) {
        .inner {
            flex-direction: column;
            text-align: center;
        }

        .inner > * {
            margin-bottom: 20px;
        }
    }

/***** End of General CSS *****/


/***** Hero Section *****/

    #hero {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 60px;
        margin: 0;
        color: var(--Medkhair-color-secondary);
        filter: drop-shadow(0px 4px 25px rgba(100, 255, 218, 0.5));
        animation : shadowPulse 4s infinite;
    }

    @keyframes shadowPulse {
        0% {
            filter: drop-shadow(0px 4px 25px rgba(100, 255, 218, 0.5));
        }
        50% {
            filter: drop-shadow(0px 6px 35px rgba(100, 255, 218, 0.8));
        }
        100% {
            filter: drop-shadow(0px 4px 25px rgba(100, 255, 218, 0.5));
        }
    }


    .hero h3 {
        font-size: 24px;
        margin-top: 10px;
        font-family: "Sora", sans-serif;
    }

    .hero img {
        width: 100%;
        height: auto;
        max-width: 450px;
        margin: auto;
    }
    .hero > div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero p{
        margin-top: 20px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.3em;
    }
    .hero .buttons {
        margin-top: 30px;
        display: flex;
        gap: 10px;
    }

    .hero > div:nth-child(2){
        position: relative;
        z-index: 2;
    }
    .hero > div:nth-child(2) > div{
        position: relative;
        z-index: 2;
    }
    .hero > div:nth-child(2) img{
        position: relative;
        z-index: 3;
    }
    .hero > div:nth-child(2)::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%);
        border: 3px solid var(--Medkhair-color-secondary);
        border-radius: 50%;
        animation: ripple 6s infinite ease-out;
        opacity: 0.8;
    }
    .hero > div:nth-child(2)::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%);
        border: 3px solid var(--Medkhair-color-secondary);
        border-radius: 50%;
        animation: ripple 4s infinite ease-out;
        opacity: 0.8;
    }
    .hero > div:nth-child(2) > div::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%);
        border: 3px solid var(--Medkhair-color-secondary);
        border-radius: 50%;
        animation: ripple 4s infinite ease-out;
        opacity: 0.8;
    }
    .hero > div:nth-child(2) > div::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        aspect-ratio: 1 / 1;
        transform: translate(-50%, -50%);
        border: 3px solid var(--Medkhair-color-secondary);
        border-radius: 50%;
        animation: ripple 3s infinite ease-out;
        opacity: 0.8;
    }
    @keyframes ripple {
        0% {
            width: 80%;
            opacity: 0.8;
        }
        70% {
            width: 90%;
            opacity: 0.1;
        }
        100% {
            width: 100%;
            opacity: 0;
        }
    }
    @media (max-width: 768px) {
        #hero {
            height: auto;
            padding: 30px 0;
        }
        .hero h1 {
            font-size: 40px;
        }

        .hero h3 {
            font-size: 20px;
            margin: 10px auto;
        }

        .hero p {
            font-size: 18px;
            margin: 10px auto 0 auto;
        }

        .hero .buttons {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
        .hero > * {
            margin-bottom: 0px;
        }
        .hero > div:nth-child(2)::before,
        .hero > div:nth-child(2)::after,
        .hero > div:nth-child(2) > div::before,
        .hero > div:nth-child(2) > div::after {
            width: unset;
            height: 80%;
            top: unset;
            bottom: 0;
            transform: translateX(-50%);
            
        }
        .hero > div:nth-child(2)::before{
            animation: ripple2 5s infinite ease-out;
        }
        .hero > div:nth-child(2)::after{
            animation: ripple2 4s infinite ease-out;
        }
        .hero > div:nth-child(2) > div::before{
            animation: ripple2 3s infinite ease-out;
        }
        .hero > div:nth-child(2) > div::after{
            animation: ripple2 2s infinite ease-out;
        }
        @keyframes ripple2 {
            0% {
                height: 80%;
                opacity: 0.8;
            }
            70% {
                height: 90%;
                opacity: 0.1;
            }
            100% {
                height: 100%;
                opacity: 0;
            }
        }
    }